body {
    font-family: "Source Sans Pro", sans-serif;
}
ul {
    list-style-type: none;
}
a:link {
    color: blue;
}
a:visited {
    color: blue;
}
a:hover {
    color: red;
    background-color: yellow;
}
a:active {
    color: red;
}
::selection {
    background: #ffb7b7;
    /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #ffb7b7;
    /* Gecko Browsers */
}
blockquote blockquote {
    border-left: none;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
}
.title {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 1.125em;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, "Source Sans Pro",
        sans-serif;
}
.section {
    margin-bottom: 30px;
}
.content {
    max-width: 500px;
    padding: 6.25rem;
    margin: auto;
}
.img-circle {
    border-radius: 50%;
    width: 30%;
    height: auto;
    float: right;
    border: 1px solid;
}

/* Landscape phones and down */
@media (max-width: 350px) {
    .content {
        margin-left: 0px;
        max-width: 300px;
        margin: 0 auto;
        width: 90%;
    }
}

/* Landscape phones and down */
@media (min-width: 350px) and (max-width: 480px) {
    .content {
        margin-left: 0px;
        max-width: 350px;
        margin: 0 auto;
        width: 90%;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .content {
        margin-left: 0px;
        margin: 0 auto;
    }
}

details {
    display: inline;
    padding: 0;
}
details > summary {
    display: inline;
    padding: 0;
}
details > summary::-webkit-details-marker {
    /* to remove triangle */
    display: inline;
    display: none;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}

/* Large desktop */
@media (min-width: 1200px) {
}

/* Very large desktop */
@media (min-width: 1600px) {
}

#tooltip {
    display: none;
    position: absolute;
    width: 150px;
    font-size: 14px;
    background-color: lightgreen;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    top: -40px; /* Position above the button */
}
span button:hover + #tooltip {
    display: block;
}
