body {
    font-family: 'Source Sans Pro', sans-serif;
}
ul {
    list-style-type: none;
}
a:link {
    color: blue;
}
a:visited {
    color: blue;
}
a:hover {
    color: red;
    background-color: yellow;
}
a:active {
    color: red;
}
::selection {
    background: #ffb7b7;
    /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #ffb7b7;
    /* Gecko Browsers */
}
blockquote blockquote {
    border-left: none;
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
}
.title {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 1.125em;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Source Sans Pro', sans-serif;
}
.section {
    margin-bottom: 30px;
}
.content {
    max-width: 500px;
    padding: 6.25rem;
    margin: auto;
}
.img-circle {
  border-radius:  50%;
  width: 30%;
  height: auto;
  float: right;
  border: 1px solid;
}

/* Landscape phones and down */
@media (max-width: 350px) {
    .content {
        margin-left: 0px;
        max-width: 300px;
        margin: 0 auto;
        width: 90%;
    }
}

/* Landscape phones and down */
@media (min-width: 350px) and (max-width: 480px) {
    .content {
        margin-left: 0px;
        max-width: 350px;
        margin: 0 auto;
        width: 90%;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .content {
        margin-left: 0px;
        margin: 0 auto;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {}

/* Large desktop */
@media (min-width: 1200px) {}

/* Very large desktop */
@media (min-width: 1600px) {}
